@import url("https://fonts.googleapis.com/css2?family=Hina+Mincho&display=swap");
.pag1 {
  float: right;
  width: 200px;
  height: auto;
  border: 2px solid #161b33;
}

.pag1:hover {
  box-shadow: 0 0 40px #ffd1ba;
}

.bod1 {
  background-color: white;
  color: black;
  font-size: 1.5rem;
}

h1 {
  text-align: center;
}

* {
  margin: 0;
  padding: 0;
}

#bgcurso {
  background-color: beige;
}

.proyecto {
  background-color: #4d4861;
  color: rgba(0, 0, 0, 0.8);
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  height: 100px;
  margin: 10px;
  border: 2px solid black;
}

/* NAVIGATION HERE  */
nav button {
  margin: 0.3rem 3%;
  background-color: transparent;
  border: none;
  font-size: 1.6rem;
  color: #edcb96;
  /*accent2-color*/
}

nav button:hover {
  cursor: pointer;
}

nav {
  display: flex;
  flex-direction: column;
  justify-items: center;
  text-align: center;
  background-color: #03254e;
  /*accent1-color*/
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav ul li a {
  display: block;
  padding: 8rem 2%;
  text-decoration: none;
  color: black;
  border-top: 1px solid rgba(0, 0, 0, 0.3);
  padding: 10px;
  font-family: "Noto Sans JP", sans-serif;
}

nav ul li.active a {
  background-color: #fecee9;
  /*accent2-color*/
  color: #121212;
}

nav ul li a:hover {
  background-color: #fecee9;
  /*accent2-color*/
  cursor: pointer;
  color: #000;
}

nav ul.hide {
  display: none;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.healine {
  margin: 10px;
}

.textoRelleno {
  font-size: 1.5rem;
  text-align: center;
  margin: 10px 13px 100px 11px;
  padding: 10px;
}

.estilo {
  color: green;
  font-size: 24px;
  font-weight: 700;
}

.bananas {
  display: flex;
  justify-content: center;
}

.container {
  max-width: 1000px;
  margin: 10px auto;
}

.headlinePro {
  margin: 20px;
  border-top: 5px double;
  border-bottom: 5px double;
  padding: 0.3em;
  background-color: #222e50;
  color: white;
  font-size: 1.5;
  text-align: center;
}

.maestra {
  margin: 10px;
  height: 400px;
  border: 1px solid #9e7682;
}

.introduccionMaestra {
  margin: 10px;
  font-size: 1.2rem;
  color: #000;
  text-align: center;
}

@media only screen and (min-width: 629px) {
  nav button {
    display: none;
  }

  nav ul {
    margin-left: 2%;
  }

  nav ul li {
    float: left;
  }

  nav ul li a {
    border: none;
    border-right: 1px solid rgba(0, 0, 0, 0.3);
    padding: 0.8rem 1rem;
  }

  nav ul.hide {
    display: block;
  }
}
@media only screen and (min-width: 1025px) {
  nav ul li a {
    padding: 0.6rem 1rem;
  }
}
footer {
  text-align: center;
  background: #9e7682;
  /*accent1-color*/
  padding: 10px;
  color: black;
}

body {
  font-size: 16px;
  font-family: "Hina Mincho", serif;
  background-color: #222e50;
  color: #121212;
  margin: 0;
  padding: 0;
}

.encabezado,
main {
  max-width: 760px;
  margin: 0 auto;
}

.encabezado {
  border: 1px solid #bbb;
  padding: 1rem;
  background-color: #bbacc1;
}

h2, li {
  font-size: 1.2rem;
  color: black;
}

a {
  text-decoration: none;
  color: #121212;
}

.headline1 {
  border-top: 5px double;
  border-bottom: 5px double;
  padding: 0.3em;
  background-color: #222e50;
  text-align: center;
  text-shadow: 3px 0px #86230de3;
}

.headline2 {
  background-color: #ffffff52;
  color: #222e50;
  font-size: 1.5rem;
  text-align: center;
}

.parClase2 {
  text-align: center;
  background-color: #ffffff52;
  color: #222e50;
  font-size: 1.5rem;
}

.bodyClases {
  background: url(../images/arte1.jpg);
  -o-object-fit: cover;
     object-fit: cover;
}/*# sourceMappingURL=style.css.map */